*.*/
main/mr-tmp/
main/mr-[0-9]*-[0-9]*
main/mr-out-*
main/sock*
/mr/mr-tmp-*/
mrtmp.*
824-mrinput-*.txt
/main/diff.out
/mapreduce/x.txt
/pbservice/x.txt
/kvpaxos/x.txt
*.so
/main/mrcoordinator
/main/mrsequential
/main/mrworker
/main/kvsrv1d
/main/raft1d
/main/rsm1d
/main/kvraft1d
/main/shardgrp1d
